<div class="footer pb-3u {{ main_selector }}">
	<div>
		<p>Specimen mmodification of <a href="https://github.com/markboulton/specimen-builder">Studio Boulton's design</a>, production built using <a href="https://github.com/kabisa/specimen-skeleton">Specimen Skeleton</a>. <a href="https://github.com/vicenteakira/farmer-specimen">Browse the repository on GitHub</a>. Supported by <a href="https://fonts.google.com">Google Fonts</a>.</p> — Farmer is free and open source font. Refer to the <a href="https://choosealicense.com/licenses/ofl-1.1/">SIL Open Font License 1.1</a> for exact details on what the conditions and restrictions are.
	</div>
</div>
